<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas claras, amistad duradera</title>
</head>
<body>
    <h1>Cuentas claras</h1>
    <h3>Agrega a tu amigo</h3>
    <form action="/" method="get">
        <label for="name">Nombre de tu amigo</label>
        <input type="text" name ="name" id="name">
        <label for="puso">Cuanto puso</label>
        <input type="text"name ="puso" id="puso">
    </form>
</body>
</html>