<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas claras, amistad duradera</title>
</head>
<body>
    <h1>Cuentas claras</h1>
    <h3>Agrega a tu amigo</h3>    
    <form action="/" method="POST">
        <label for="nombre">Nombre de tu amigo</label>
        <input type="text" name ="nombre" id="nombre">
        <label for="puso">Cuanto puso</label>
        <input type="text"name ="puso" id="puso">
        <button type = "submit">Crear usuario</button>
    </form>

    <ul>
        <% if (!amigos) { %>
         <h3>Todavia no agregaste amigos</h3>
        <% } %>
        <% amigos.forEach(amigo => { %>
            <li><%= amigo.nombre %>: Pone = <%= amigo.puso%>
                <form action="/<%= amigo.id %>?_method=DELETE" method="POST">
                    <button type = "submit" name="delete">Eliminar</button>
                </form>
                <li>
        <% }) %>
    </ul>
</body>
</html>